.account-profile {
    padding-bottom: 5rem;
    .profile {


        .profile-image{
            display: flex;
            align-items:center;
            img{
                width: 20%;
            }
        }
    }
}
